.profile{
    top:0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(
      180deg,
      var(--color-primary) 0%,
      var(--color-primary) 45%,
      var(--color-secondary) 55%,
      var(--color-secondary) 100%
    );
}
.profile-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding-bottom: 10rem;
}
.profile-persona{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    color: var(--color-text-secondary);
    padding-bottom: 10rem;
}
.profile-imagen{
    width: 45%;
    overflow-x: hidden;
}
.profile-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.profile-descripcion{
    width: 50%;
}

.profile-descripcion-encabezado{
    padding-bottom: 1rem;
}

.profile-nombre{
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    display: inline-block;
}
.profile-nombre h2{
    margin: 0;
}
.profile-nombre::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}

.profile-relacionado{
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 2;
}
.profile-relacionado h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.profile-descripcion-detalle{
    font-size: 1.2rem;
    line-height: 2.3;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-redes-sociales{
    margin-bottom: 4rem;
}
.icon-svg{
    fill: var(--color-secondary);
    height: 64px;
    transition: transform 0.25s ease, filter 0.25s ease;
}
.icon-svg:hover{
    transform: scale(1.2);
}
.icon-link {
  color: inherit;
  text-decoration: none;
}


.profile-linea{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.profile-linea-title{
    width: 100%;
    font-size: 4rem;
    position: relative;
    padding-left: 24px;
}
.profile-linea-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: 6px;
    background-color: var(--color-primary);
    border-radius: 4px;
}

.profile-linea-desc{
    font-size: 1.5rem;
    line-height: 1.5;
    width: 60%;
}
.profile-linea-desc p{
    margin-top: 0;
    margin-bottom: 0;
}















