.forum-preview{
    width: 100%;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forum-preview h2{
    font-size: 3rem;
}
.forum-contacto{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-background-secondary);
}

.forum-contacto-content{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;
    padding: 1rem;
    padding-right: 4rem;
    color: var(--color-text-secondary);
}

.forum-logo{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}
.forum-logo img{
    width: 64px;
    padding-right: 1rem;
}
.forum-facultad{
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
.forum-correo{
    font-weight: 900;
    line-height: 2;
    margin-bottom: 3rem;
}

.forum-redes{
    margin-bottom: 1rem;
}
.forum-icon{
    fill: var(--color-secondary);
    height: 52px;
    transition: transform 0.25s ease, filter 0.25s ease;
}
.forum-icon:hover{
    transform: scale(1.2);
}
.forum-link {
  color: inherit;
  text-decoration: none;
}








.forum-image{
    width: 50%;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(0,0,0,0.5)),
        url("/assets/images/facultad.jpg");
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
}
