/**
 * ================================
 * styles/main.css
 * ================================
 */

/* 1. Base */
@import "./tokens.css";

/* 2. Pages */
/* 3. Sections */
@import "../sections/header/header.css";
@import "../sections/hero/hero.css";
@import "../sections/about/about.css";


/* 4. Components */
@import "../components/search/search.css";
@import "../components/button/button.css";

html, body {
  margin: 0;
  padding: 0;
}

header {
  height: var(--header-height);
  position: fixed;
  width: calc(100% - var(--spacing-header-rl)*2);
  top: 0;
  z-index: 100;
  background: var(--color-header);
  padding: var(--spacing-header-tb) var(--spacing-header-rl);
  display: block;
}


